@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");

body {
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #fdf6e3;
  color: #30343f;
  margin: 0;
}

a {
  text-decoration: none;
  color: #335bdd;
}

svg {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.layout {
  display: flex;
  align-items: center;
}

.main {
  font-size: 200%;
  display: block;
  position: absolute;
  top: 25%;
}

.main .title {
  font-family: "Fira Code", "IBM Plex Mono", Arial, Helvetica, sans-serif;
  display: block;
  font-size: 170%;
  margin: 0 !important;
  line-height: 48px;
}

.main p {
  margin-top: 10px;
  margin-bottom: 0;
  color: rgba(48, 52, 63, 0.801);
}

.main-header {
  border-top: 2px solid #335bdd;
}

.logo svg {
  max-width: 64px;
}

.main-header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  color: #30343f;
  text-decoration: none;
}
a:hover,
.main-nav a:hover {
  color: #335bdd;
  transition: 50ms all ease-in-out;
}

nav i {
  font-size: 2em;
}

.bottom-nav {
  margin: 20px 0;
  display: none;
}

.bottom-nav ul {
  margin: 0;
  padding: 0;
}
.bottom-nav li {
  display: inline;
}

.bottom-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  color: #30343f;
  text-decoration: none;
}

.err-404 {
  color: #30343f;
  background: #fff;
  font-family: "Poppins", "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#d7d7d7 1px, transparent 1px),
    radial-gradient(#d7d7d7 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.h1 {
  display: inline-block;
  border-right: 1px solid rgba(48, 52, 63, 0.301);
  margin: 0;
  margin-right: 20px;
  padding: 10px 23px 10px 0;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
}
.err-text {
  display: inline-block;
  text-align: left;
  line-height: 49px;
  height: 49px;
  vertical-align: middle;
}

.h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.highlight-text {
  color: #335bdd;
}

/* Mobile first queries */

/* smaller than ptablet */
@media (max-width: 425px) {
  .main-header .container {
    justify-content: center;
  }
  nav {
    display: none;
  }
  .main {
    top: 20% !important;
    margin: 0 20px;
  }

  .main p {
    margin-top: 40px;
    color: rgba(48, 52, 63, 0.801);
  }
  .bottom-nav {
    display: block;
  }
}

/* smaller than tablet */
@media (max-width: 768px) {
  .main {
    top: 20% !important;
    margin: 0 30px;
  }
}

/* smaller than desktop HD */
@media (max-width: 1023px) {
  .main {
    margin: 0 30px;
  }
}

/* smaller than Desktop HD HD */
@media (max-width: 1200px) {
}

@media (min-width: 1024px) {
  .main-header .container {
    justify-content: space-between;
  }
}
